.cardMedia{
    cursor: url(../../../static/newFinger.png),default;
    background-color: yellowgreen;
    border-top: 2px solid yellow;
    border-left: 2px solid yellow;
    border-right: 2px solid yellow;
    }