@font-face {
    font-family: 'Pokemon Solid';
    src: url('../../../static/fonts/Pokemon\ Solid.ttf') format("TrueType");
}
.wrapper{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../../static/FonProducts2.jpg);
    background-position: center;
}

.header{
display: inline-block;
margin: 0 auto;
font-family: 'Pokemon Solid';
-webkit-text-stroke: 1px rgb(53, 100, 174);
-webkit-text-fill-color: rgb(255, 203, 5);
font-size: larger;
margin-block-start: -16px;
}

.spinner{
    position: absolute;
    top: 45%;
    left: 48%;
    z-index: 3;
}

.pokeCard{
    display: inline-block;
    margin-left: 10px,
}

.pagination{
    display: flex;
    justify-content: center;
}

.underWrapper{
    min-height: 708px;
    
}