.mainWrapper {
display: flex;
justify-content: center;
text-align: center;
height: 95vh;
background-image: url(../../../static/SignInImage12.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
overflow: hidden;
}
