.main {
display: flex;
justify-content: center;
text-align: center;
height: 96vh;
background-image: url(../../../static/SignInImage12.jpg);
background-repeat: no-repeat;
background-position: center;
overflow: hidden;
}
