@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

@font-face {
    font-family: 'Pokemon Solid';
    src: url('../../../../static/fonts/Pokemon\ Solid.ttf') format("TrueType");
    }
    
    .headers{
    margin: 0;
    font-family: 'Pokemon Solid';
    -webkit-text-stroke: 1.5px rgb(53, 100, 174);
    -webkit-text-fill-color: rgb(255, 203, 5);
    height: 8vh;
    display: inline;
    }
    
    .pokemonWrapper{
    background-color: rgb(246, 247, 205);
    border-radius: 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    }
    
    .pokeStats{
    margin: 0 auto;
    }

    .thanksButton {
    cursor: url(../../../../static/newFinger.png),pointer;
    border: solid 2px rgb(177, 100, 100,0.5);
    border-radius: 10px;
    background-color: rgba(224, 164, 164, 0.3);
    font-family: 'Titan One', cursive;
    color: rgb(245, 81, 81);
    width: 8vw;
    height: 5vh;
    font-size: 1vw;
    }