.wrapper{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
height: 96vh;
background-image: url(../../../static/SignInImage3.png);
background-size: cover;
background-position: center;
}

