.spinner{
position: absolute;
top: 45%;
left: 48%;
z-index: 3;
}

.wrapper{    
display: flex;
text-align: center;
justify-content: center;
background-image: url(../../../static/FonProducts2.jpg);
background-position: center;
min-height: 95vh;
background-repeat: repeat;
}