@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

.header{
background: yellowgreen; 
height: 4vh;
display: flex
}

.pokeball{
width: 27px; 
margin-top: 3px;
}

.signInAndSignUp{
display: flex;
width: 100%;
justify-content: flex-end;
margin-right: 100px;
}

.logOut{

        display: inline;
        position: fixed;
            left: 85%;
        }


.link{
font-family: 'Nabla', cursive;
font-size: 20px;
margin-left: 20px;
text-decoration: none;
cursor: url(../../static//newFinger.png),default;
}