@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

.header{
background: yellowgreen; 
height: 5vh;
display: flex;
justify-content: space-between;
}

.pokeball{
width: 27px; 
margin-top: 3px;
}

.logOutCartUserPages{
display: flex;
justify-content: space-evenly;
width: 230px;
cursor: url(../../static//newFinger.png),default;
margin-bottom: auto;
margin-top: auto;
}

.signInAndSignUp{
display: flex;
width: 100%;
justify-content: flex-end;
margin-right: 100px;
cursor: url(../../static//newFinger.png),default;
}

.link{
font-family: 'Nabla', cursive;
font-size: 20px;
margin-left: 20px;
margin-bottom: auto;
margin-top: auto;
text-decoration: none;
cursor: url(../../static//newFinger.png),default;
}

@media (max-width:500px) {
.link{
font-family: 'Nabla', cursive;
font-size: 14px;
margin-left: 20px;
margin-bottom: auto;
margin-top: auto;
text-decoration: none;
cursor: url(../../static//newFinger.png),default;
}
}

.theNumderOfOrders{
font-family: 'Nabla', cursive;
font-size: 20px;
margin-left: 5px;
text-decoration: none;
cursor: url(../../static//newFinger.png),default;
display: inline-block
}

.cart{
width: 25px;
height: 25px;
margin-top: 5px;
cursor: url(../../static//newFinger.png),default;
}