.wrapper{
background-image: url(../../../static/DetailPokemonPage.png);
background-position: center;
min-height: 96vh;
background-size: cover;
background-repeat: repeat;
}

.spinner{
position: absolute;
top: 50%;
left: 50%
}

