@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@font-face {
    font-family: 'Pokemon Solid';
    src: url('../../../static/fonts/Pokemon\ Solid.ttf') format("TrueType");
}

.text{
font-family: 'Pokemon Solid';
-webkit-text-stroke: 1.5px rgb(53, 100, 174);
-webkit-text-fill-color: rgb(255, 203, 5);
font-size: 2vw;
display: table-row;
    }

    .mainWrapper{
    margin: 0 auto;
    height: 70vh;
    }
    
    .input{
    display: block;
    width: 100%;
    cursor: url(../../../static/cursor.png),default;
    border: solid 2px rgb(241, 130, 39);
    border-radius: 7px;
    background-color: rgb(215,220,17);
    }

    input::placeholder {
font-family: 'Pokemon Solid';
-webkit-text-stroke: 1px rgb(53, 100, 174);
-webkit-text-fill-color: rgb(255, 203, 5);
    }
    
    .errorResponse {
    font-family: 'Titan One', cursive;
    color: rgb(236, 96, 3);
font-size: larger;
position: absolute;
left: 43%;
    }
    
    .button{
    border: solid 2px rgb(177, 100, 100,0.5);
    border-radius: 10px;
    background-color: rgba(224, 164, 164, 0.3);
    cursor: pointer;
    font-family: 'Titan One', cursive;
    color: rgb(245, 81, 81);
    cursor: url(../../../static/newFinger.png),default;
    width: 15vw;
    height: 10vh;
    margin-bottom: 10px;
    font-size: 2vw;
    }
    
    .button:active{
    background-color: rgb(223, 154, 154,0.7);
    }
    
    .button:hover{
    border: solid 2px rgb(177, 100, 100,1);
    }

    .Ash{
        max-width: 14vw;
        position: absolute;
        z-index: 3;
        top: 43vh;
        left: 64vw;
    }

    .wrapper{
        position: absolute;
        background-color: white;
        border: solid 2px red
    }

    .inputGroup{
        display: flex;
        flex-direction: column;
        cursor: url(../../../static/newFinger.png),default;
    }
        
    .errorInputMessage{
        display: inline;
        font-family: 'Permanent Marker', cursive;
        color: red;
    }

    .spinner{
        position: absolute;
        top: 45%;
        left: 48%;
    }